<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">CRUD</a>
        <a class="nav-link text-white px-0 me-2" href="../login">JWT: <%= exp %> sec</a>
        <button id='btn' class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link <%= page === 'create' ? 'active' : '' %>" aria-current="page"
                        href="../create">Create</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  <%= page === 'read' ? 'active' : '' %>" href="../read">Read</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= page === 'update' ? 'active' : '' %>" href="../update">Update</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= page === 'delete' ? 'active' : '' %>" href="../delete">Delete</a>
                </li>

                <li class="nav-item seperator"></li>

                <li class="nav-item">
                    <a class="nav-link  <%= page === 'readAll' ? 'active' : '' %>" href="../read-all">Read All</a>
                </li>

                <li class="nav-item seperator"></li>

                <li class="nav-item">
                    <a class="nav-link  <%= page === 'register' ? 'active' : '' %>" href="../register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= page === 'login' ? 'active' : '' %>" href="../login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>